.contribution-guide {
  margin-bottom: calc(var(--base) * 2);
}

.contribution-guide > .collapsible {
  margin-bottom: calc(var(--base) / 2);
}

.contribution-guide li + li {
  margin-top: calc(var(--base) / 4);
}
