# Database connection string, for local development it should match the one in docker-compose.yml
POSTGRES_URL=postgresql://127.0.0.1:5432/<your-local-db-name>
# Used to encrypt JWT tokens, for local development you can use any long random string
PAYLOAD_SECRET=<your-payload-secret>
# Used to validate preview requests, for local development you can use any long random string
PREVIEW_SECRET=<your-preview-secret>


# Used to configure CORS, format links and more. No trailing slash
# NEXT_PUBLIC_SERVER_URL=<NEXT_SECRET>
# # Secret used to authenticate cron jobs
# CRON_SECRET=<CRON_SECRET>